H1{
    color: rgb(35, 111, 197);
    font-size: 40px;
}
.btnRegister{
    color: rgb(15, 15, 15);
    background-color: rgb(248, 252, 7);
}
.btnShow{
    color: rgb(18, 19, 18);
    background-color: rgb(27, 214, 52);

}